*.a
*.cache
*.log
*.o
*.trs
*.wasm.map
*.wasm.pre
*.wast
*~
.deps
.DS_Store
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/nbproject
/stamp-h1
/test-driver
