.source-wrapper {
	position: relative;
}

.source-wrapper textarea {
	font-family: Monaco, Courier, Consolas, monospace;
	font-size: 0.8em;
	display: flex;
	height: 100%;
	resize: none;
}

.CodeMirror {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
}

.CodeMirror .line-error {
	padding-left: 4px;
	background: rgba(255, 0, 0, 0.2);
	box-shadow: 0 0 1px 1px red inset;
	color: #d00000;
}

.CodeMirror .line-breakpoint {
	width: 2em;
	height: 1em;
	position: relative;
	background: rgba(255, 224, 0, 0.7);
	color: transparent;
}

.CodeMirror .line-breakpoint:after {
	width: 0;
	height: 0;
	top: 0;
	bottom: 0;
	right: -0.9em;
	position: absolute;
	border: solid 0.5em transparent;
	border-left-color: rgba(255, 224, 0, 0.7);
	content: '';
	display: block;
}
